*.iml
.gradle
build
/captures
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
/.idea/workspace.xml
/.idea/libraries
/.idea/modules
.idea/*
.DS_Store
captures
.externalNativeBuild
/app/schemas/*
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings





